<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>


<body>

    <h1>Login sa Freja eID</h1>
    <div id="qrcode">

    </div>


    <script>
        async function initLogin() {
            const res = await fetch('/initiate', {method: 'POST'})
            const data = await res.json();

            document.getElementById('qrcode').innerHTML = `<img src="data:image/png;base64, ${data.qrCode}">`

            await checkStatus(data.reference);
        }

        let resolved = false;

        async function checkStatus(reference) {
           const res = await fetch(`/status?reference=${reference}`)
            const status = await res.text();

           if(status === 'APPROVED') window.location.href= '/dashboard'
           else if(status === 'CANCELED' || status === 'REJECTED' || status === 'EXPIRED' )
               document.getElementById('qrcode').innerHTML = `<p>Authentication failed: ${status}</p>`;
           else setTimeout(() => checkStatus(reference), 2000)
        }

        initLogin();
    </script>
</body>
</html>